/*=================================
=            VARIABLES            =
=================================*/

/* Colors */
$primary-color: #0E93A5;

/* defaults */
$default-font-size: 14px;
$default-font-family: 'Open Sans';
$default-line-height: 1.5;
$default-font-weight: 400;
$default-font-style: normal;

/* Fonts */
$default-font: $default-font-style $default-font-weight 14px/1.5 $default-font-family, Arial, serif;


